.App {
  text-align: center;
}

.App-logo {
position: relative;
right:250px;
  animation: App-logo-spin infinite 8s ;
  height: 15vmin;
}
textarea{
  /* height:300px;
  width:300px; */
  background-color: rgb(76, 86, 95);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
table, th, td {
  border: 1px solid whitesmoke;
  /* border-collapse: collapse; */
}
th, td {
  padding: 10px;
  text-align: center;
  font-size:17px ;
}

th{
  color: #49b0cc;
  font-size: 19px;
  font-family:  fantasy;
}
.graph{
background-color: rgb(255, 255, 255);
}